<!DOCTYPE html>
<html>
<head>
  <title>Last Minute Travel Insurance</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="site-wide-container">
    <header>
      <ul class="breadcrumb icon">
        <li class="travel complete">
          &#xf072;
          <span class="pointer"></span>
          <span class="edit">&#xf044;</span>
        </li>
        <li class="quote active">
          &#xf10e;
          <span class="pointer"></span>
        </li>
        <li class="people inactive">
          &#xf03a;
        </li>
        <li class="payment inactive">
          &#xf09d;
        </li>
      </ul>
    </header>

    <section>
      <%= yield %>
    </section>

  </div>

  <script>
    window.addEventListener("load",function() {
       setTimeout(function(){
        window.scrollTo(0, 0);
        }, 0);
     });
  </script>

</body>
</html>
